/* --------------------------------------------------------------------- Basic styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background: #2f3339;
    font: 12px Tahoma,Verdana,Segoe,sans-serif;
    color: #e5e5e5;
}

.page-index {
    position: relative;
    min-height: 100%;
    padding-bottom: 90px;
}

h2 {
    font: bold 18px Arial, Helvetica, Luciada, sans-serif;
    color: #fd6703;
    margin-bottom: 25px;
}

.grid {
    width: 1014px;
    margin: 0 auto;
}

a {
    color: inherit;

    &:hover {
        text-decoration: none;
    }
}

/* --------------------------------------------------------------------- Header */

.header {
    background: url("../images/ribbon.png") repeat 0 0;

    .grid {
        padding: 83px 0 0 95px;
        height: 285px;
        background: url("../images/car.png") no-repeat 427px 24px;
    }

    p {
        font-size: 18px ;
        color: #a8aebe;
    }
}

/* --------------------------------------------------------------------- Nav */

.nav {
    background: linear-gradient(180deg, #fd6d03, #fd5003);
    padding: 9px 0 10px 24px;
    border-bottom: 26px solid #000000;

    a {
        padding: 9px 32px 5px 32px;
        text-decoration: none;
        font: bold 16px Arial, Helvetica, Luciada, sans-serif;
        color: #23262b;
        letter-spacing: 1px;
        border-radius: 0 0 10px 10px;

        &.active,
        &:hover {
            color: #fd6103;
            background: linear-gradient(180deg, #212428, #16181b);
        }
    }
}

/* --------------------------------------------------------------------- Content */

.content {
    padding: 0 29px 0 23px;

    &::after {
        content: '';
        display: block;
        clear: both;
    }
}

/* ---------------- Column */

.column {
    width: 33%;
    min-height: 380px;
    padding: 16px 21px 0 22px;
    border-left: 1px dashed #a9a9a9;
    float: left;

    p {
        margin-bottom: 18px;
    }
}

.column--center {

    li {
        margin: 0 0 16px 25px;
        list-style-image: url("../images/bullet.png");
    }
}

.column--right {
    border-right: 1px dashed #a9a9a9;

    img {
        border: 3px solid #fbfcfc;
        margin-right: 4px;
        margin-bottom: 18px;
        }
    }

/* --------------------------------------------------------------------- Footer */

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    border-bottom: 9px solid #fd6a03;
    background: #000000;

    .grid {
        padding: 20px 0 0 45px;

        h2 {
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 19px;
        }
    }
}